@import "../../../asset/scss/index.scss";

$backgrd: transparent linear-gradient(304deg, #0baed5 0%, #6d25e0 100%) 0% 0%
  no-repeat padding-box;
$primary-color: #483de1;

.add_vehicle_container {
  background: $backgrd;
  border: 5px solid white;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  .add-vehicle-topnav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 1rem 0;

    .btn-goback {
      display: inline-block;
      line-height: 1.5;
      text-align: center;
      vertical-align: middle;
      border-radius: 0.2rem;
      color: var(--clr-white);
      border: 1px solid white;
      background: $backgrd;

      .b svg {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        width: 0.875em;
        overflow: visible;
        vertical-align: -0.125em;
        margin-right: 0.5rem !important;
      }
    }
  }

  .add-vehicle-form {
    margin: 1rem auto;
    padding: 0 0.8em;

    Form {
      max-width: 600px;
      margin: auto;
    }

    .active-input {
      background: $backgrd;
      color: var(--clr-white);
      border: none;
      outline: none;
    }

    .form-label {
      color: var(--clr-white);
      font-weight: 400;
    }

    .btn {
      color: var(--clr-white);
      border: 2px solid var(--clr-white);
      display: flex;
      background: $backgrd;
      justify-content: center;
      margin: 3rem auto 0;
      width: 100%;
    }
    @media (-moz-touch-enabled: 0), (hover: hover) {
      .btn-goback:not([disabled])::before {
        transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      }
    }

    @media screen and (max-width: 700px) {
      .input-button {
        margin-bottom: 10px;
      }
    }
  }
}
