.rider-detail-inner {
  display: flex;
  // flex-direction: column;
  // justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-white);
  padding: 2rem auto;
  padding: 30px 10px;
  position: relative;
  .avathar-wrapper {
    display: inherit;
    align-items: center;
    flex-direction: column;
    img {
      border-radius: 50%;
      background-color: var(--clr-grey-9);
      height: 100px;
      width: 100px;
    }

    .icon-wrapper {
      display: flex;
      margin: 2rem;

      button {
        outline: none;
        border: none;
        margin-right: 10px;
        border-radius: 0.25rem;

        svg {
          height: 20px;
          width: 20px;
        }
      }
    }
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    color: #8c8d94;
    line-height: 1.8;

    .rider-name {
      color: #483de1;
      margin-bottom: 1rem;
    }

    .rider-location {
      color: inherit;
      svg {
        color: var(--clr-green-dark);
      }
    }

    .rider-props {
      padding: 5px;
    }

    .key {
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  @media screen and(max-width: 1000px) {
    flex-flow: column;
    .details-wrapper {
      justify-content: center;
      text-align: center;
      margin: 1rem auto 2rem;
    }
  }
}
.proof_img {
  border-radius: 10%;
  background-color: var(--clr-grey-9);
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.modal_img {
  border-radius: 10px;
  height: 100%;
  width: 90%;
  object-fit: contain;
}

.rider_proof_img,
.rider_profile_img {
  display: block;
  margin: 1rem auto 2rem;
  height: 200px;
  width: 200px;
}

.edit-rider-modal {
  .modal__container {
    background: transparent linear-gradient(304deg, #0baed5 0%, #6d25e0 100%) 0%
      0% no-repeat padding-box;
  }

  .modal__close-btn {
    color: white !important;
  }

  .modal__content {
    display: block;
    width: 100%;

    .add_rider_container {
      background: none;
      border: none;
      box-shadow: none;
    }
  }
}
