@import "./asset/scss/index.scss";
@import "./asset/font/font.scss";

:root {
  /* dark shades of primary color*/
  --clr-primary-root: #483de1;
  --clr-secondary-root: #483de1;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red: #fa5252;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
}

.alert {
  display: block;
  padding: 7px 14px;
  white-space: normal;
  font-size: 0.9em;
  word-break: break-all;
  word-break: break-word;
  text-shadow: none;
  margin: 20px 0;
}

.alert--success {
  background: #d2e4c4;
  color: #307a07;
}

.alert--error {
  background: #ffebf5;
  color: #cb2b2b;
}

h1,
.u-h1 {
  font-size: 22px;
}
h2,
.u-h2 {
  font-size: 20px;
}
h3,
.u-h3 {
  font-size: 18px;
}
h4,
.u-h4 {
  font-size: 16px;
}
h5,
.u-h5,
.u-h41 {
  font-size: 14px;
}
h6,
.u-h6 {
  font-size: 13px;
}
.u-h7 {
  font-size: 12px;
}
.u-h8 {
  font-size: 12px;
}
@media screen and (min-width: 641px) {
  h1,
  .u-h1 {
    font-size: 30px;
  }
  h2,
  .u-h2 {
    font-size: 25px;
  }
  h3,
  .u-h3 {
    font-size: 22px;
  }
  h4,
  .u-h4,
  .u-h41 {
    font-size: 17px;
  }
  h5,
  .u-h5 {
    font-size: 14px;
  }
  h6,
  .u-h6 {
    font-size: 13px;
  }
  .u-h7 {
    font-size: 10px;
  }
  .u-h8 {
    font-size: 8px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
  background: darkgrey;
}
