.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #5e35b1;
  height: 34px;
  width: 34px;
  font-size: 1.2rem;
  background: #ede7f6;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}

.menu-list-icons {
  .menu-button {
    margin-left: 10px;
  }

  img {
    height: 30px;
    border-radius: 100%;
  }
}

.search-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-self: flex-end;
}

.popup-menu {
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 5px;
  transform: scale(0);
  // transform-origin: top right;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 200px;
  margin-top: 0.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  float: left;
  transition: transform 0.2s;

  &.shown {
    transform: scale(1);
  }
}
